.style-1{
  border: rgb(0, 204, 204) 5px solid;
  background-color: rgb(3, 177, 177);
  margin-bottom: 10px;
  border-radius: 25px;
  text-align: center;
  color: white
  
}
.style-3{
  border: royalblue 5px solid;
  background-color: rgb(23, 55, 150) ;
  border-radius: 25px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  
}
.style-2{
  border: rgb(54, 188, 241) 5px solid;
  background-color: rgb(32, 160, 211);
  margin-bottom: 10px;
  border-radius: 25px;
  color: white;
  text-align: center;
  
  }
.style4{
  border: rgb(48, 40, 172) 5px solid;
  background-color:rgb(59, 49, 201) ;
  margin-bottom: 10px;
  border-radius: 25px;
  color: white;
  text-align: center;

}
.button{
  border: black 2px solid;
  color: white;
  background-color: black;
  border-radius: 25px;
  text-decoration: none;
}
.about{
  color: white;
  text-align: center;
}

body{
 background-image: linear-gradient(to bottom, #277fb3, #1d6a9d, #135587, #084172, #002e5c);
 font-family: 'Oranienbaum', serif;
}

.navbar{
  width: 100%;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin-bottom: -1
}
.text{
  color: black
}
.navbar h2{
 color: black;
 display: inline-block;
 padding-bottom: 2px
}
.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: darkcyan;
  color: white
}
